<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>로그인 페이지</h1>
<% if (typeof error !== 'undefined' && error) { %>
    <p style="color:red;"><%= error %></p>
<% } %>

<p>Welcome to <%= title %></p>
<form action="/login" method="post">
    <input type="text" name="email" placeholder="email" />
    <input type="text" name="password" placeholder="password" />
    <button type="submit">로그인</button>
</form>
</body>
</html>
