<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h2>가입된 사용자</h2>
<h2>가입된 사용자</h2>
<% if (users && users.length) { %>
    <ul>
        <% users.forEach(u => { %>
            <li><%= u.id %> - <%= u.email %> - <%= u.name %></li>
        <% }) %>
    </ul>
<% } else { %>
    <p>사용자가 없습니다.</p>
<% } %>

<form action="/signup" method="post">
        <input type="text" placeholder="email" name="email" /> <button type="button" id="duplicationBtn">중복확인</button>
        <input type="password" placeholder="password" name="password" />
        <input type="text" placeholder="name" name="name" />
        <button type="submit">회원가입</button>
    </form>
</body>

<script>
    const duplicationBtn = document.getElementById('duplicationBtn');
    duplicationBtn.addEventListener('click',async (e)=>{
        const email = document.querySelector('input[name="email"]').value;
        if(email == ''){
            alert('이메일 값 이 없습니다.')
            return;
        }
        try{
            const res = await fetch('/dublicate',{
                method:'POST',
                headers:{
                    'Content-Type':'application/json'

                },body:JSON.stringify({email})
            });
            if(res.ok){
                // 일단 통신은 완료 된 상태
                const resData = await res.json();
                if(resData.available){
                    alert('사용 가능한 이메일 입니다.');
                    duplicationBtn.innerHTML = '확인'
                    duplicationBtn.disabled = true; // 다시 버튼 누르는것을 방지 함
                }else{
                    alert('중복된 이메일 입니다.');
                }

            }
        }catch (err){
            alert('네트워크에 오류가 발생했습니다.')
        }
    })
</script>

</html>